:root {
    --projects-bg: #535C52;
    --transition: 0.5s;
}

.projects {
    background-color: var(--projects-bg);
}

.projects .header-text {
    background-color: var(--projects-bg);
}

.projects .table .table-item {
    color: #eee8e8;
    height: 20rem;
    width: 14rem;
    filter: drop-shadow(0 0 0 black);
    color: white;
    display: block;
    position: relative;
    transition: var(--transition);
    
}

/* .projects .table-item:hover {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, -0.3rem, 0);
} */

.projects .table-item::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    filter: brightness(0.7);
}

.projects .table .table-item > div {
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0;
    transition: var(--transition);
}

.projects .table .table-item .item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-15rem);
    height: 100%;
}

.projects .table .table-item .item-info div {
    margin-top: 1rem
}

.projects .table .table-item:hover .item-info {
    transform: translateX(0);
}

.projects .table .table-item .item-label {
    transform: translateX(0) translateY(-50%);
    top:50%;
}

.projects .table .table-item:hover .item-label {
    transform: translateX(15rem) translateY(-50%)
}

.projects .table-item:hover::before {
    filter: brightness(0.2);
}


.projects .table .table-item .item-info {
    z-index: 1;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
}

.projects .table .table-item .item-label{
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
}

.zumis::before {
    background: url('img/zumis.png');
    background-size: cover;
}

.mediapark::before {
    background: url('img/mediapark.png');
    background-size: cover;
}

.drive-advice::before {
    background: url('img/drive-advice.png');
    background-size: cover;
}

.estonian-art-index::before {
    background: url('img/estonian-art-index.png');
    background-size: cover;
}

.espark::before {
    background: url('img/espark.png');
    background-size: cover;
}

.cube-browser::before {
    background: url('img/cube-browser.png');
    background-size: cover;
}

.mp-st::before {
    background: url('img/mp-st.png');
    background-size: cover;
}

.projects .item-footer {
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
}

.projects .footer-label {
    display: block;
    font-size: 50%;
}

.projects .item-description {
    font-size: 75%;
}