:root {
    --technologies-bg: #648381
}

.technologies {
    background-color: var(--technologies-bg);
}

.technologies .header-text {
    background-color: var(--technologies-bg);
}

.technologies .table-item {
    margin: 2rem 2.5rem;
}

.technologies .table-item:hover {
    filter: brightness(0.8);
}

.technologies .table-item .item-icon {
    height: 5rem;
}

.technologies .table-item .item-rating {
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
    display: flex;
    justify-content: center;
    position: relative;
}

.technologies .table-item .item-label {
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
    text-align: center;
    position: relative;
}

.yellow {
    color: #ffb300;
}

.dark {
    color: #44330d;
}
