html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: url('./img/bg.jpeg');
    background-repeat: repeat;
    background-color: #eff5f9;
    color: #383736;
}

@keyframes pipe {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40vh;
}

.nav-bar {
    height: 10vh;
}

.header-container > div {
    flex: 1 0 100%;
    text-align: center;
    font-size: 3rem;

}

.header-text {
    margin: auto;   
    position: relative;
}

.piped::after {
    content: '_';
    position: absolute;
    opacity: 0;
    animation: pipe infinite 1s;
    animation-direction: alternate
}

.ending {
    min-width: 20px;
}