html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: url('./img/bg.jpeg');
    background-repeat: repeat;
    background-color: #eff5f9;
    color: #383736;
}

body {
    margin: 0px;
}

@keyframes pipe {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(15vh + 3rem);
    text-align: center;
}

.nav-bar {
    height: calc(5vh + 1rem);
}

.header-container > div {
    flex: 1 0 50%;
    font-size: 3rem;
    position: relative;
    margin: auto;
}

.header-nav {
    display: flex;
    flex-direction: column;
}

.piped::after {
    content: '_';
    position: absolute;
    opacity: 0;
    animation: pipe infinite 1s;
    animation-direction: alternate
}

.header-img {
    height: 1rem;
    vertical-align: middle;
}

.header-item {
    text-align: right;
}

.technologies {
    line-height: 2;
    padding: 0 3rem;
    background-color: blanchedalmond
}

.header {
    text-align: center;
    font-size: 3rem;
    margin-bottom: calc(2rem + 1vh);
}

.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-item {
    flex-grow: 1;
    border-radius: 3%;
    margin: 1rem;
    padding: 1rem;
}

.item-label {
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}